@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f7903b;

}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('../../../public/dark-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh
}

.dark {
  color: white;
}

/*----Font----*/

@font-face {
  font-family: Audiowide;
  src: url('../../../public/Audiowide.ttf');
}

@font-face {
  font-family: Lato;
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}